[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
jupyter = "*"
scikit-learn = "*"
pandas = "*"
jupyterlab = "*"
matplotlib = "*"
tornado = "==5.1.1"
bokeh = "*"
graphviz = "*"

[requires]
python_version = "3.6"
